---
interface Props {
  colSpan?: number;
  rowSpan?: number;
}

const { colSpan = 1, rowSpan = 1 } = Astro.props;
---

<div
  class=`transition duration-300 ease-in-out transform hover:scale-[1.015] shadow-lg cursor-pointer bg-green-100/10 rounded-xl w-full h-full col-span-${colSpan} row-span-${rowSpan}`
>
  <slot />
</div>
