<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A full complex collection of components made it using CSS and TailwindCSS"
    />
    <meta name="keywords" content="HTML, CSS, JavaScript, TailwindCSS, Astro" />
    <meta name="author" content="Omar Flores Salazar" />
    <meta name="theme-color" content="#000000" />
    <meta name="robots" content="index, follow" />
    <title>Minimarisuto</title>
  </head>
  <body>
    <main
      class="grid grid-cols-1 gap-4 p-10 md:grid-cols-6 md:gap-8 grid-rows-6 h-screen"
    >
      <slot />
    </main>
  </body>
</html>
