<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A full complex collection of components made it using CSS and TailwindCSS"
    />
    <meta name="keywords" content="HTML, CSS, JavaScript, TailwindCSS, Astro" />
    <meta name="author" content="Omar Flores Salazar" />
    <meta name="theme-color" content="#000000" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="notranslate" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="max-snippet:-1" />
    <meta name="google" content="max-image-preview:large" />
    <meta name="google" content="max-video-preview:-1" />
    <meta name="google" content="notranslate" />
    <meta name="google" content="nositelinkssearchbox" />
    <meta name="google" content="max-snippet:-1" />
    <meta name="google" content="max-image-preview:large" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Minimarisuto</title>
  </head>
  <body>
    <slot />
  </body>
</html>
