<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A full complex collection of components made it using CSS and TailwindCSS"
    />
    <meta name="keywords" content="HTML, CSS, JavaScript, TailwindCSS, Astro" />
    <meta name="author" content="Omar Flores Salazar" />
    <meta name="theme-color" content="#000000" />
    <meta name="robots" content="index, follow" />
    <title>Minimarisuto</title>
  </head>
  <body class="h-screen">
    <div
      class="flex flex-col sm:grid sm:grid-cols-3 grid-rows-3 gap-3 p-3
      h-full sm:p-4 md:p-5 lg:p-20 xl:p-30"
    >
      <slot />
    </div>
  </body>
</html>
