<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A full complex collection of components made it using CSS and TailwindCSS"
    />
    <meta name="keywords" content="HTML, CSS, JavaScript, TailwindCSS, Astro" />
    <meta name="author" content="Omar Flores Salazar" />
    <meta name="theme-color" content="#000000" />
    <meta name="robots" content="index, follow" />
    <title>Minimarisuto</title>
  </head>
  <body>
    <main
      class="transition-all duration-500 ease-in-out grid-rows-6 h-screen grid grid-cols-1 gap-4 p-10 lg:grid-cols-6 lg:gap-8 lg:p-20 md:grid-cols-3 md:gap-6 md:p-16 sm:grid-cols-2 sm:gap-4 sm:p-10"
    >
      <slot />
    </main>
  </body>
</html>
